.HeroSectionDiv {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}
.HeroSectionHeaderTxt {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #000000;
}
.HeroSectionParaTxt {
  font-family: "Ubuntu";
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 0.8rem;
  color: #000000;
}
.HeroSectionPara1Txt {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.01rem;
}
.HeroSectionReadMoreTxt {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: 500;
  color: #144714;
}
